:root {
  font-family: "Prompt", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* img:hover {
  border: 3px solid white;
  transform: scale(0.9);
   
} */

/* .MuiPagination-root {
  button {
    color: white !important;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;